/*    h1{
      color: red;
    }*/

.one {
    color: red;
}

.two {
    color: green;
}

.three {
    font-size: 30px;
}

.four {
    font-size: 50px;
}

.five {
    color: purple;
}

.eight{
  color: lightgreen;
}